.buttons {
  position: fixed;
  right: 40px;
  top: 20px;
  display: flex;
  flex-direction: column;
}

.buttons > button {
  margin-top: 10px;
}

#pkchu {
  display: none;
}

#text {
  position: fixed;
  height: 50vh;
  width: 100%;
  top: 0;
  overflow-x: hidden;
}

#text::-webkit-scrollbar {
  width: 0 !important;
}

#html {
  position: fixed;
  height: 50vh;
  bottom: 0;
  width: 100%;
}
